/* -------------------- Functions -------------------- */
/* -------------------- END Functions -------------------- */
/* -------------------- Font Family -------------------- */
/* -------------------- END Font Family -------------------- */
/* -------------------- Colors -------------------- */
/* ---------- Red ---------- */
/* ---------- END Red ---------- */
/* ---------- Pink ---------- */
/* ---------- END Pink ---------- */
/* ---------- Purple ---------- */
/* ---------- END Purple ---------- */
/* ---------- Deep Purple ---------- */
/* ---------- END Deep Purple ---------- */
/* ---------- Indigo ---------- */
/* ---------- END Indigo ---------- */
/* ---------- Blue ---------- */
/* ---------- END Blue ---------- */
/* ---------- Light Blue ---------- */
/* ---------- END Light Blue ---------- */
/* ---------- Cyan ---------- */
/* ---------- END Cyan ---------- */
/* ---------- Teal ---------- */
/* ---------- END Teal ---------- */
/* ---------- Green ---------- */
/* ---------- END Green ---------- */
/* ---------- Light Green ---------- */
/* ---------- END Light Green ---------- */
/* ---------- Lime ---------- */
/* ---------- END Lime ---------- */
/* ---------- Yellow ---------- */
/* ---------- END Yellow ---------- */
/* ---------- Amber ---------- */
/* ---------- END Amber ---------- */
/* ---------- Orange ---------- */
/* ---------- END Orange ---------- */
/* ---------- Deep Orange ---------- */
/* ---------- END Deep Orange ---------- */
/* ---------- Brown ---------- */
/* ---------- END Brown ---------- */
/* ---------- Grey ---------- */
/* ---------- END Grey ---------- */
/* ---------- Blue Grey ---------- */
/* ---------- END Blue Grey ---------- */
/* -------------------- END Colors -------------------- */
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

select {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1;
  font-size: 12px;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

textarea.noresize {
  resize: none;
}

body {
  font-size: 12px;
  font-weight: 500;
  font-family: "helvetica neue", arial, helvetica, sans-serif;
  color: #212121;
}

.container {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.span1, .span2, .span3, .span4,
.span5, .span6, .span7, .span8,
.span9, .span10, .span11, .span12 {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.span1 {
  width: 8.333333333333332%;
}

.span2 {
  width: 16.666666666666664%;
}

.span3 {
  width: 25%;
}

.span4 {
  width: 33.33333333333333%;
}

.span5 {
  width: 41.66666666666667%;
}

.span6 {
  width: 50%;
}

.span7 {
  width: 58.333333333333336%;
}

.span8 {
  width: 66.66666666666666%;
}

.span9 {
  width: 75%;
}

.span10 {
  width: 83.33333333333334%;
}

.span11 {
  width: 91.66666666666666%;
}

.span12 {
  width: 100%;
}

.offset1 {
  margin-left: 8.333333333333332%;
}

.offset2 {
  margin-left: 16.666666666666664%;
}

.offset3 {
  margin-left: 25%;
}

.offset4 {
  margin-left: 33.33333333333333%;
}

.offset5 {
  margin-left: 41.66666666666667%;
}

.offset6 {
  margin-left: 50%;
}

.offset7 {
  margin-left: 58.333333333333336%;
}

.offset8 {
  margin-left: 66.66666666666666%;
}

.offset9 {
  margin-left: 75%;
}

.offset10 {
  margin-left: 83.33333333333334%;
}

.offset11 {
  margin-left: 91.66666666666666%;
}

.offset12 {
  margin-left: 100%;
}

.transition {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.transition-fast {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

.hidden {
  display: none !important;
}

.visible {
  overflow: visible !important;
}

.auto {
  overflow: auto !important;
}

.pointer {
  cursor: pointer;
}

.vm {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

.nowrap {
  white-space: nowrap;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-fixed {
  table-layout: fixed;
}

.text-left {
  text-align: left!important;
}

.text-right {
  text-align: right!important;
}

.text-center {
  text-align: center!important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline-top {
  display: inline-block;
  vertical-align: top;
}

.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.inline-baseline {
  display: inline-block;
  vertical-align: baseline;
}

body {
  font-family: Averta_regular;
  font-size: 16px;
}

.font_regular {
  font-family: Averta_regular;
  font-size: 1em;
}

.font_light {
  font-family: Averta_light;
  font-size: 1em;
}

.banner {
  width: 100%;
  height: 60px;
}

.banner {
  background: #fecc00;
}
