html,
body {
}
body {
	font-family: Averta_regular;
	font-size: 16px;
}
.font_regular {
	font-family: Averta_regular;
	font-size: 1em;
}
.font_light {
	font-family: Averta_light;
	font-size: 1em;
}

.banner {
	@include size(100%, 60px);
	.nav {
	}
}
