/* ==================== AVERTA ==================== */
@each $font-face in 'averta_bold', 'averta_light', 'averta_regular', 'averta_thin' {
	@font-face {
		font-family: #{$font-face};
		src: url("fonts/#{$font-face}.eot?#iefix");
		src: url("fonts/#{$font-face}.eot?#iefix") format("eot"),
				 url("fonts/#{$font-face}.woff2") format("woff2"),
				 url("fonts/#{$font-face}.woff") format("woff"),
				 url("fonts/#{$font-face}.ttf") format("truetype"),
				 url("fonts/#{$font-face}.svg#averta_bold") format("svg");
	}
}
/* ==================== END AVERTA ==================== */

/* ==================== NOTO ==================== */
@each $font-face in 'noto_bold', 'noto_light', 'noto_regular', 'noto_thin' {
	@font-face {
		font-family: #{$font-face};
		src: url("fonts/#{$font-face}.otf");
	}
}
/* ==================== END NOTO ==================== */

/* ==================== STYLE ==================== */
$font-size: (
	title: 		 46,
	subtitle:  36,
	heading1:	 30,
	heading2:	 24,
	heading3:  20,
	heading4:  15,
	body: 		 14,
	caption: 	 12,
	button: 	 14
);
@each $name, $size in $font-size {
	.font_#{$name} {
		font-size: #{$size+"px"};
		line-height: #{($size+10)+"px"};
	}
}
@each $name in 'title', 'subtitle', 'heading1', 'heading2', 'heading3', 'heading4', 'body' {
	.font_#{$name} {
		font-family: averta_regular;
		text-transform: capitalize;
	}
}
.font_caption {
	font-family: averta_light;
	font-style: italic;
	text-transform: capitalize;
}
.font_button {
	font-family: averta_regular;
	text-transform: uppercase;
}
/* ==================== END STYLE ==================== */

// /* ==================== LINE HEIGHT ==================== */
// .font_title { line-height: 26px;}
// .font_subtitle {}
// .font_body {}
// .font_caption {}
// .font_button {}
// /* ==================== END LINE HEIGHT ==================== */