<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Factory Tools Specs</title>
	<link rel="stylesheet" href="../../assets/css/jquery-ui.css" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="stylesheet" href="../../assets/css/buttons.css" />
	<script src="../../assets/js/jquery-3.1.0.min.js"></script>
	<script src="../../assets/js/jquery-ui.min.js"></script>
	<script src="../../assets/js/temp-trigger.js"></script>
	<script src="../../assets/js/navigation.js"></script>
	<script src="../../assets/js/style.js"></script>
</head>
<body>
	<main>
		<header class="span10 font_regular">Buttons</header>
		<ul class="span10 content_table">
			<li><a href="#introduction" class="font_bold">Introduction</a></li>
			<li><a href="#button_style" class="font_bold">Choosing button style</a></li>
			<li><a href="#style" class="font_bold">Style</a></li>
			<li><a href="#buttons" class="font_bold">Buttons</a></li>
		</ul>
		<article>
			<header id="introduction" class="span10 font_light"><h5>Introduction</h5></header>
		  <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
		</article>
		<article>
			<header id="button_style" class="span10 font_light"><h5>Choosing button style</h5></header>
			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
		</article>
		<article>
			<header id="style" class="span10 font_light"><h5>Style</h5></header>
			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
		</article>
		<article>
			<header id="buttons" class="span10 font_light"><h5>Buttons</h5></header>
			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
		</article>
	</main>
</body>
</html>