<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Factory Tools Specs</title>
	<link rel="stylesheet" href="../../assets/css/jquery-ui.css" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<script src="../../assets/js/jquery-3.1.0.min.js"></script>
	<script src="../../assets/js/jquery-ui.min.js"></script>
	<script src="../../assets/js/temp-trigger.js"></script>
	<script src="../../assets/js/navigation.js"></script>
	<script src="../../assets/js/style.js"></script>
</head>
<body>
	<main>
		<header class="span10 font_subtitle">Selection Control</header>
		<ul class="span10 content_table">
			<li><a href="#introduction" class="font_bold">1. Introduction</a></li>
			<li><a href="#checkbox" class="font_bold">2. Checkbox</a></li>
			<li><a href="#radio_button" class="font_bold">3. Radio button</a></li>
			<li><a href="#switch" class="font_bold">4. Switch</a></li>
		</ul>
		<article>
			<header id="introduction" class="span10 font_heading2"><h5>1. Introduction</h5></header>
		  <div>
		  	<p>Three types of selection controls are covered in this guidance:</p>
		  	<ul class="list">
		  		<li>Checkboxes allow the selection of multiple options from a set.</li>
		  		<li>Radio buttons allow the selection of a single option from a set.</li>
		  		<li>Switches allow a selection to be turned on or off.</li>
		  	</ul>
		  </div>
		</article>
		<article>
			<header id="checkbox" class="span10 font_heading2"><h5>2. Checkbox</h5></header>
			<div><img src="../../assets/images/selection_1.png" alt=""></div>
		</article>
		<article>
			<header id="radio_button" class="span10 font_heading2"><h5>3. Radio button</h5></header>
			<div><img src="../../assets/images/selection_2.png" alt=""></div>
		</article>
		<article>
			<header id="switch" class="span10 font_heading2"><h5>4. Switch</h5></header>
			<div><img src="../../assets/images/selection_3.png" alt=""></div>
		</article>
	</main>
</body>
</html>