<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Factory Tools Specs</title>
	<link rel="stylesheet" href="../../assets/css/jquery-ui.css" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<script src="../../assets/js/jquery-3.1.0.min.js"></script>
	<script src="../../assets/js/jquery-ui.min.js"></script>
	<script src="../../assets/js/temp-trigger.js"></script>
	<script src="../../assets/js/navigation.js"></script>
	<script src="../../assets/js/style.js"></script>
</head>
<body>
	<main>
		<header class="span10 font_subtitle">Empty State</header>
		<ul class="span10 content_table">
			<li><a href="#introduction" class="font_bold">1. Introduction</a></li>
			<li><a href="#usage" class="font_bold">2. Usage</a></li>
		</ul>
		<article>
			<header id="introduction" class="span10 font_heading2"><h5>1. Introduction</h5></header>
			<div class="span6">
				<p>Empty states occur when an item’s content can’t be shown.</p>
				<br><br>
			  <p>
			  	A list that doesn’t contain any items, or a search that doesn’t display any results, are examples of empty states. Although these states aren’t typical, they should be designed to prevent user confusion.
			  </p>
			</div>
		</article>
		<article>
			<header id="usage" class="span10 font_heading2"><h5>2. Usage</h5></header>
			<section>
				<header class="span10 font_heading3"><h5>2.1 Empty results</h5></header>
				<p>Empty state display should:</p>
				<ul class="list">
					<li>be subtle and neutral with respect to the background</li>
					<li>convey the purpose and potential of the app in a lively way</li>
					<li>have a positive tone of message</li>
					<li>be consistent with the brand</li>
					<li>convey the purpose of the app without appearing to be actionable</li>
				</ul>
			</section>
			<section>
				<header class="span10 font_heading3"><h5>2.2 Start content</h5></header>
				<div class="span8">
					<p>
						Empty state doesn’t only occur when there is no results. It also occurs for starter content. For example, when a new user first comes to a page which is waiting for further actions.
					</p>
					<br>
					<p>For this, we recommend:</p>
					<ul class="list">
						<li>use content that has broad appeal and demonstrates primary features</li>
						<li>if possible, provide content that’s personalized</li>
					</ul>
				</div>
			</section>
			<section>
				<header class="span10 font_heading3"><h5>2.3 Educational content</h5></header>
				<div class="span6">
					<p>
						If the purpose of the screen isn’t easily conveyed through an image and a message, consider showing educational content instead. And we recommend make it:
					</p>
					<br>
					<p>For this, we recommend:</p>
					<ul class="list">
						<li>helps users understand what they’ll be able to to do on this screen once it has content</li>
						<li>possible to dismiss or skip this content</li>
						<li>brief</li>
					</ul>
				</div>
			</section>
			<section>
				<header class="span10 font_heading3"><h5>2.4 Result matching</h5></header>
				<div class="span6">
					<p>
						There is another situation where may involve the empty state. And that is a search result list.
					</p>
					<br>
					<p>
						When nothing exactly matches the user’s query, instead of showing “no result”, are there any result for a query spelled slightly differently? If so, then show the results, as they may help an user find what they’re after.
					</p>
					<br>
					<p>
						With this approach, clearly convey in a heading above the results that this content shouldn’t be mistaken for a match to actual query results.
					</p>
				</div>
			</section>
		</article>
	</main>
</body>
</html>