<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Factory Tools Specs</title>
	<link rel="stylesheet" href="../../assets/css/jquery-ui.css" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="stylesheet" href="../../assets/css/color_palette.css" />
	<script src="../../assets/js/jquery-3.1.0.min.js"></script>
	<script src="../../assets/js/jquery-ui.min.js"></script>
	<script src="../../assets/js/temp-trigger.js"></script>
	<script src="../../assets/js/navigation.js"></script>
	<script src="../../assets/js/style.js"></script>
</head>
<body>
	<main>
		<header class="span10 font_subtitle">Color palette</header>
		<ul class="span10 content_table">
			<li><a href="#primary_colors" class="font_bold">1. Primary Colors</a></li>
			<li><a href="#secondary_colors" class="font_bold">2. Secondary Colors</a></li>
		</ul>
		<article class="color_palette primary_colors">
			<header id="primary_colors" class="span10 font_heading1"><h5>1. Primary Colors</h5></header>
			<!-- ========== RED ========== -->
			<ul class="color_palette-item color_palette-item-red span3 inline-middle">
				<li class="red-500">
					<span class="left">Red</span>
					<span class="right"></span>
				</li>
				<li class="red-50">
					<span class="left">50</span>
					<span class="right">#FFEBEE</span>
				</li>
				<li class="red-100">
					<span class="left">100</span>
					<span class="right">#FFCDD2</span>
				</li>
				<li class="red-200">
					<span class="left">200</span>
					<span class="right">#EF9A9A</span>
				</li>
				<li class="red-300">
					<span class="left">300</span>
					<span class="right">#E57373</span>
				</li>
				<li class="red-400">
					<span class="left">400</span>
					<span class="right">#EF5350</span>
				</li>
				<li class="red-500">
					<span class="left">500</span>
					<span class="right">#F44336</span>
				</li>
				<li class="red-600">
					<span class="left">600</span>
					<span class="right">#E53935</span>
				</li>
				<li class="red-700">
					<span class="left">700</span>
					<span class="right">#D32F2F</span>
				</li>
				<li class="red-800">
					<span class="left">800</span>
					<span class="right">#C62828</span>
				</li>
				<li class="red-900">
					<span class="left">900</span>
					<span class="right">#B71C1C</span>
				</li>
			</ul>
			<!-- ========== PINK ========== -->
			<ul class="color_palette-item color_palette-item-pink span3 inline-middle">
				<li class="pink-500">
					<span class="left">Pink</span>
					<span class="right"></span>
				</li>
				<li class="pink-50">
					<span class="left">50</span>
					<span class="right">#FCE4EC</span>
				</li>
				<li class="pink-100">
					<span class="left">100</span>
					<span class="right">#F8BBD0</span>
				</li>
				<li class="pink-200">
					<span class="left">200</span>
					<span class="right">#F48FB1</span>
				</li>
				<li class="pink-300">
					<span class="left">300</span>
					<span class="right">#F06292</span>
				</li>
				<li class="pink-400">
					<span class="left">400</span>
					<span class="right">#EC407A</span>
				</li>
				<li class="pink-500">
					<span class="left">500</span>
					<span class="right">#E91E63</span>
				</li>
				<li class="pink-600">
					<span class="left">600</span>
					<span class="right">#D81B60</span>
				</li>
				<li class="pink-700">
					<span class="left">700</span>
					<span class="right">#C2185B</span>
				</li>
				<li class="pink-800">
					<span class="left">800</span>
					<span class="right">#AD1457</span>
				</li>
				<li class="pink-900">
					<span class="left">900</span>
					<span class="right">#880E4F</span>
				</li>
			</ul>
			<!-- ========== PURPLE ========== -->
			<ul class="color_palette-item color_palette-item-purple span3 inline-middle">
				<li class="purple-500">
					<span class="left">Purple</span>
					<span class="right"></span>
				</li>
				<li class="purple-50">
					<span class="left">50</span>
					<span class="right">#F3E5F5</span>
				</li>
				<li class="purple-100">
					<span class="left">100</span>
					<span class="right">#E1BEE7</span>
				</li>
				<li class="purple-200">
					<span class="left">200</span>
					<span class="right">#CE93D8</span>
				</li>
				<li class="purple-300">
					<span class="left">300</span>
					<span class="right">#BA68C8</span>
				</li>
				<li class="purple-400">
					<span class="left">400</span>
					<span class="right">#AB47BC</span>
				</li>
				<li class="purple-500">
					<span class="left">500</span>
					<span class="right">#9C27B0</span>
				</li>
				<li class="purple-600">
					<span class="left">600</span>
					<span class="right">#8E24AA</span>
				</li>
				<li class="purple-700">
					<span class="left">700</span>
					<span class="right">#7B1FA2</span>
				</li>
				<li class="purple-800">
					<span class="left">800</span>
					<span class="right">#6A1B9A</span>
				</li>
				<li class="purple-900">
					<span class="left">900</span>
					<span class="right">#4A148C</span>
				</li>
			</ul>
			<!-- ========== DEEP PURPLE ========== -->
			<ul class="color_palette-item color_palette-item-deep_purple span3 inline-middle">
				<li class="deep_purple-500">
					<span class="left">Deep purple</span>
					<span class="right"></span>
				</li>
				<li class="deep_purple-50">
					<span class="left">50</span>
					<span class="right">#EDE7F6</span>
				</li>
				<li class="deep_purple-100">
					<span class="left">100</span>
					<span class="right">#D1C4E9</span>
				</li>
				<li class="deep_purple-200">
					<span class="left">200</span>
					<span class="right">#B39DDB</span>
				</li>
				<li class="deep_purple-300">
					<span class="left">300</span>
					<span class="right">#9575CD</span>
				</li>
				<li class="deep_purple-400">
					<span class="left">400</span>
					<span class="right">#7E57C2</span>
				</li>
				<li class="deep_purple-500">
					<span class="left">500</span>
					<span class="right">#673AB7</span>
				</li>
				<li class="deep_purple-600">
					<span class="left">600</span>
					<span class="right">#5E35B1</span>
				</li>
				<li class="deep_purple-700">
					<span class="left">700</span>
					<span class="right">#512DA8</span>
				</li>
				<li class="deep_purple-800">
					<span class="left">800</span>
					<span class="right">#4527A0</span>
				</li>
				<li class="deep_purple-900">
					<span class="left">900</span>
					<span class="right">#311B92</span>
				</li>
			</ul>
			<!-- ========== INDIGO ========== -->
			<ul class="color_palette-item color_palette-item-indigo span3 inline-middle">
				<li class="indigo-500">
					<span class="left">Indigo</span>
					<span class="right"></span>
				</li>
				<li class="indigo-50">
					<span class="left">50</span>
					<span class="right">#E8EAF6</span>
				</li>
				<li class="indigo-100">
					<span class="left">100</span>
					<span class="right">#C5CAE9</span>
				</li>
				<li class="indigo-200">
					<span class="left">200</span>
					<span class="right">#9FA8DA</span>
				</li>
				<li class="indigo-300">
					<span class="left">300</span>
					<span class="right">#7986CB</span>
				</li>
				<li class="indigo-400">
					<span class="left">400</span>
					<span class="right">#5C6BC0</span>
				</li>
				<li class="indigo-500">
					<span class="left">500</span>
					<span class="right">#3F51B5</span>
				</li>
				<li class="indigo-600">
					<span class="left">600</span>
					<span class="right">#3949AB</span>
				</li>
				<li class="indigo-700">
					<span class="left">700</span>
					<span class="right">#303F9F</span>
				</li>
				<li class="indigo-800">
					<span class="left">800</span>
					<span class="right">#283593</span>
				</li>
				<li class="indigo-900">
					<span class="left">900</span>
					<span class="right">#1A237E</span>
				</li>
			</ul>
			<!-- ========== BLUE ========== -->
			<ul class="color_palette-item color_palette-item-blue span3 inline-middle">
				<li class="blue-500">
					<span class="left">Blue</span>
					<span class="right"></span>
				</li>
				<li class="blue-50">
					<span class="left">50</span>
					<span class="right">#E3F2FD</span>
				</li>
				<li class="blue-100">
					<span class="left">100</span>
					<span class="right">#BBDEFB</span>
				</li>
				<li class="blue-200">
					<span class="left">200</span>
					<span class="right">#90CAF9</span>
				</li>
				<li class="blue-300">
					<span class="left">300</span>
					<span class="right">#64B5F6</span>
				</li>
				<li class="blue-400">
					<span class="left">400</span>
					<span class="right">#42A5F5</span>
				</li>
				<li class="blue-500">
					<span class="left">500</span>
					<span class="right">#2196F3</span>
				</li>
				<li class="blue-600">
					<span class="left">600</span>
					<span class="right">#1E88E5</span>
				</li>
				<li class="blue-700">
					<span class="left">700</span>
					<span class="right">#1976D2</span>
				</li>
				<li class="blue-800">
					<span class="left">800</span>
					<span class="right">#1565C0</span>
				</li>
				<li class="blue-900">
					<span class="left">900</span>
					<span class="right">#0D47A1</span>
				</li>
			</ul>
			<!-- ========== LIGHT BLUE ========== -->
			<ul class="color_palette-item color_palette-item-light_blue span3 inline-middle">
				<li class="light_blue-500">
					<span class="left">Light blue</span>
					<span class="right"></span>
				</li>
				<li class="light_blue-50">
					<span class="left">50</span>
					<span class="right">#E1F5FE</span>
				</li>
				<li class="light_blue-100">
					<span class="left">100</span>
					<span class="right">#B3E5FC</span>
				</li>
				<li class="light_blue-200">
					<span class="left">200</span>
					<span class="right">#81D4FA</span>
				</li>
				<li class="light_blue-300">
					<span class="left">300</span>
					<span class="right">#4FC3F7</span>
				</li>
				<li class="light_blue-400">
					<span class="left">400</span>
					<span class="right">#29B6F6</span>
				</li>
				<li class="light_blue-500">
					<span class="left">500</span>
					<span class="right">#03A9F4</span>
				</li>
				<li class="light_blue-600">
					<span class="left">600</span>
					<span class="right">#039BE5</span>
				</li>
				<li class="light_blue-700">
					<span class="left">700</span>
					<span class="right">#0288D1</span>
				</li>
				<li class="light_blue-800">
					<span class="left">800</span>
					<span class="right">#0277BD</span>
				</li>
				<li class="light_blue-900">
					<span class="left">900</span>
					<span class="right">#01579B</span>
				</li>
			</ul>
			<!-- ========== CYAN ========== -->
			<ul class="color_palette-item color_palette-item-cyan span3 inline-middle">
				<li class="cyan-500">
					<span class="left">Cyan</span>
					<span class="right"></span>
				</li>
				<li class="cyan-50">
					<span class="left">50</span>
					<span class="right">#E0F7FA</span>
				</li>
				<li class="cyan-100">
					<span class="left">100</span>
					<span class="right">#B2EBF2</span>
				</li>
				<li class="cyan-200">
					<span class="left">200</span>
					<span class="right">#80DEEA</span>
				</li>
				<li class="cyan-300">
					<span class="left">300</span>
					<span class="right">#4DD0E1</span>
				</li>
				<li class="cyan-400">
					<span class="left">400</span>
					<span class="right">#26C6DA</span>
				</li>
				<li class="cyan-500">
					<span class="left">500</span>
					<span class="right">#00BCD4</span>
				</li>
				<li class="cyan-600">
					<span class="left">600</span>
					<span class="right">#00ACC1</span>
				</li>
				<li class="cyan-700">
					<span class="left">700</span>
					<span class="right">#0097A7</span>
				</li>
				<li class="cyan-800">
					<span class="left">800</span>
					<span class="right">#00838F</span>
				</li>
				<li class="cyan-900">
					<span class="left">900</span>
					<span class="right">#006064</span>
				</li>
			</ul>
			<!-- ========== TEAL ========== -->
			<ul class="color_palette-item color_palette-item-teal span3 inline-middle">
				<li class="teal-500">
					<span class="left">Teal</span>
					<span class="right"></span>
				</li>
				<li class="teal-50">
					<span class="left">50</span>
					<span class="right">#E0F2F1</span>
				</li>
				<li class="teal-100">
					<span class="left">100</span>
					<span class="right">#B2DFDB</span>
				</li>
				<li class="teal-200">
					<span class="left">200</span>
					<span class="right">#80CBC4</span>
				</li>
				<li class="teal-300">
					<span class="left">300</span>
					<span class="right">#4DB6AC</span>
				</li>
				<li class="teal-400">
					<span class="left">400</span>
					<span class="right">#26A69A</span>
				</li>
				<li class="teal-500">
					<span class="left">500</span>
					<span class="right">#009688</span>
				</li>
				<li class="teal-600">
					<span class="left">600</span>
					<span class="right">#00897B</span>
				</li>
				<li class="teal-700">
					<span class="left">700</span>
					<span class="right">#00796B</span>
				</li>
				<li class="teal-800">
					<span class="left">800</span>
					<span class="right">#00695C</span>
				</li>
				<li class="teal-900">
					<span class="left">900</span>
					<span class="right">#004D40</span>
				</li>
			</ul>
			<!-- ========== GREEN ========== -->
			<ul class="color_palette-item color_palette-item-green span3 inline-middle">
				<li class="green-500">
					<span class="left">Green</span>
					<span class="right"></span>
				</li>
				<li class="green-50">
					<span class="left">50</span>
					<span class="right">#E8F5E9</span>
				</li>
				<li class="green-100">
					<span class="left">100</span>
					<span class="right">#C8E6C9</span>
				</li>
				<li class="green-200">
					<span class="left">200</span>
					<span class="right">#A5D6A7</span>
				</li>
				<li class="green-300">
					<span class="left">300</span>
					<span class="right">#81C784</span>
				</li>
				<li class="green-400">
					<span class="left">400</span>
					<span class="right">#66BB6A</span>
				</li>
				<li class="green-500">
					<span class="left">500</span>
					<span class="right">#4CAF50</span>
				</li>
				<li class="green-600">
					<span class="left">600</span>
					<span class="right">#43A047</span>
				</li>
				<li class="green-700">
					<span class="left">700</span>
					<span class="right">#388E3C</span>
				</li>
				<li class="green-800">
					<span class="left">800</span>
					<span class="right">#2E7D32</span>
				</li>
				<li class="green-900">
					<span class="left">900</span>
					<span class="right">#1B5E20</span>
				</li>
			</ul>
			<!-- ========== LIGHT GREEN ========== -->
			<ul class="color_palette-item color_palette-item-light_green span3 inline-middle">
				<li class="light_green-500">
					<span class="left">Light Green</span>
					<span class="right"></span>
				</li>
				<li class="light_green-50">
					<span class="left">50</span>
					<span class="right">#F1F8E9</span>
				</li>
				<li class="light_green-100">
					<span class="left">100</span>
					<span class="right">#DCEDC8</span>
				</li>
				<li class="light_green-200">
					<span class="left">200</span>
					<span class="right">#C5E1A5</span>
				</li>
				<li class="light_green-300">
					<span class="left">300</span>
					<span class="right">#AED581</span>
				</li>
				<li class="light_green-400">
					<span class="left">400</span>
					<span class="right">#9CCC65</span>
				</li>
				<li class="light_green-500">
					<span class="left">500</span>
					<span class="right">#8BC34A</span>
				</li>
				<li class="light_green-600">
					<span class="left">600</span>
					<span class="right">#7CB342</span>
				</li>
				<li class="light_green-700">
					<span class="left">700</span>
					<span class="right">#689F38</span>
				</li>
				<li class="light_green-800">
					<span class="left">800</span>
					<span class="right">#558B2F</span>
				</li>
				<li class="light_green-900">
					<span class="left">900</span>
					<span class="right">#33691E</span>
				</li>
			</ul>
			<!-- ========== LIME ========== -->
			<ul class="color_palette-item color_palette-item-lime span3 inline-middle">
				<li class="lime-500">
					<span class="left">Lime</span>
					<span class="right"></span>
				</li>
				<li class="lime-50">
					<span class="left">50</span>
					<span class="right">#F9FBE7</span>
				</li>
				<li class="lime-100">
					<span class="left">100</span>
					<span class="right">#F0F4C3</span>
				</li>
				<li class="lime-200">
					<span class="left">200</span>
					<span class="right">#E6EE9C</span>
				</li>
				<li class="lime-300">
					<span class="left">300</span>
					<span class="right">#DCE775</span>
				</li>
				<li class="lime-400">
					<span class="left">400</span>
					<span class="right">#D4E157</span>
				</li>
				<li class="lime-500">
					<span class="left">500</span>
					<span class="right">#CDDC39</span>
				</li>
				<li class="lime-600">
					<span class="left">600</span>
					<span class="right">#C0CA33</span>
				</li>
				<li class="lime-700">
					<span class="left">700</span>
					<span class="right">#AFB42B</span>
				</li>
				<li class="lime-800">
					<span class="left">800</span>
					<span class="right">#9E9D24</span>
				</li>
				<li class="lime-900">
					<span class="left">900</span>
					<span class="right">#827717</span>
				</li>
			</ul>
			<!-- ========== YELLOW ========== -->
			<ul class="color_palette-item color_palette-item-yellow span3 inline-middle">
				<li class="yellow-500">
					<span class="left">Yellow</span>
					<span class="right"></span>
				</li>
				<li class="yellow-50">
					<span class="left">50</span>
					<span class="right">#FFFDE7</span>
				</li>
				<li class="yellow-100">
					<span class="left">100</span>
					<span class="right">#FFF9C4</span>
				</li>
				<li class="yellow-200">
					<span class="left">200</span>
					<span class="right">#FFF59D</span>
				</li>
				<li class="yellow-300">
					<span class="left">300</span>
					<span class="right">#FFF176</span>
				</li>
				<li class="yellow-400">
					<span class="left">400</span>
					<span class="right">#FFEE58</span>
				</li>
				<li class="yellow-500">
					<span class="left">500</span>
					<span class="right">#FFEB3B</span>
				</li>
				<li class="yellow-600">
					<span class="left">600</span>
					<span class="right">#FDD835</span>
				</li>
				<li class="yellow-700">
					<span class="left">700</span>
					<span class="right">#FBC02D</span>
				</li>
				<li class="yellow-800">
					<span class="left">800</span>
					<span class="right">#F9A825</span>
				</li>
				<li class="yellow-900">
					<span class="left">900</span>
					<span class="right">#F57F17</span>
				</li>
			</ul>
			<!-- ========== AMBER ========== -->
			<ul class="color_palette-item color_palette-item-amber span3 inline-middle">
				<li class="amber-500">
					<span class="left">Amber</span>
					<span class="right"></span>
				</li>
				<li class="amber-50">
					<span class="left">50</span>
					<span class="right">#FFF8E1</span>
				</li>
				<li class="amber-100">
					<span class="left">100</span>
					<span class="right">#FFECB3</span>
				</li>
				<li class="amber-200">
					<span class="left">200</span>
					<span class="right">#FFE082</span>
				</li>
				<li class="amber-300">
					<span class="left">300</span>
					<span class="right">#FFD54F</span>
				</li>
				<li class="amber-400">
					<span class="left">400</span>
					<span class="right">#FFCA28</span>
				</li>
				<li class="amber-500">
					<span class="left">500</span>
					<span class="right">#FFC107</span>
				</li>
				<li class="amber-600">
					<span class="left">600</span>
					<span class="right">#FFB300</span>
				</li>
				<li class="amber-700">
					<span class="left">700</span>
					<span class="right">#FFA000</span>
				</li>
				<li class="amber-800">
					<span class="left">800</span>
					<span class="right">#FF8F00</span>
				</li>
				<li class="amber-900">
					<span class="left">900</span>
					<span class="right">#FF6F00</span>
				</li>
			</ul>
			<!-- ========== ORANGE ========== -->
			<ul class="color_palette-item color_palette-item-orange span3 inline-middle">
				<li class="orange-500">
					<span class="left">Orange</span>
					<span class="right"></span>
				</li>
				<li class="orange-50">
					<span class="left">50</span>
					<span class="right">#FFF3E0</span>
				</li>
				<li class="orange-100">
					<span class="left">100</span>
					<span class="right">#FFE0B2</span>
				</li>
				<li class="orange-200">
					<span class="left">200</span>
					<span class="right">#FFCC80</span>
				</li>
				<li class="orange-300">
					<span class="left">300</span>
					<span class="right">#FFB74D</span>
				</li>
				<li class="orange-400">
					<span class="left">400</span>
					<span class="right">#FFA726</span>
				</li>
				<li class="orange-500">
					<span class="left">500</span>
					<span class="right">#FF9800</span>
				</li>
				<li class="orange-600">
					<span class="left">600</span>
					<span class="right">#FB8C00</span>
				</li>
				<li class="orange-700">
					<span class="left">700</span>
					<span class="right">#F57C00</span>
				</li>
				<li class="orange-800">
					<span class="left">800</span>
					<span class="right">#EF6C00</span>
				</li>
				<li class="orange-900">
					<span class="left">900</span>
					<span class="right">#E65100</span>
				</li>
			</ul>
			<!-- ========== DEEP ORANGE ========== -->
			<ul class="color_palette-item color_palette-item-deep_orange span3 inline-middle">
				<li class="deep_orange-500">
					<span class="left">Deep Orange</span>
					<span class="right"></span>
				</li>
				<li class="deep_orange-50">
					<span class="left">50</span>
					<span class="right">#FBE9E7</span>
				</li>
				<li class="deep_orange-100">
					<span class="left">100</span>
					<span class="right">#FFCCBC</span>
				</li>
				<li class="deep_orange-200">
					<span class="left">200</span>
					<span class="right">#FFAB91</span>
				</li>
				<li class="deep_orange-300">
					<span class="left">300</span>
					<span class="right">#FF8A65</span>
				</li>
				<li class="deep_orange-400">
					<span class="left">400</span>
					<span class="right">#FF7043</span>
				</li>
				<li class="deep_orange-500">
					<span class="left">500</span>
					<span class="right">#FF5722</span>
				</li>
				<li class="deep_orange-600">
					<span class="left">600</span>
					<span class="right">#F4511E</span>
				</li>
				<li class="deep_orange-700">
					<span class="left">700</span>
					<span class="right">#E64A19</span>
				</li>
				<li class="deep_orange-800">
					<span class="left">800</span>
					<span class="right">#D84315</span>
				</li>
				<li class="deep_orange-900">
					<span class="left">900</span>
					<span class="right">#BF360C</span>
				</li>
			</ul>
			<!-- ========== BROWN ========== -->
			<ul class="color_palette-item color_palette-item-brown span3 inline-middle">
				<li class="brown-500">
					<span class="left">Brown</span>
					<span class="right"></span>
				</li>
				<li class="brown-50">
					<span class="left">50</span>
					<span class="right">#EFEBE9</span>
				</li>
				<li class="brown-100">
					<span class="left">100</span>
					<span class="right">#D7CCC8</span>
				</li>
				<li class="brown-200">
					<span class="left">200</span>
					<span class="right">#BCAAA4</span>
				</li>
				<li class="brown-300">
					<span class="left">300</span>
					<span class="right">#A1887F</span>
				</li>
				<li class="brown-400">
					<span class="left">400</span>
					<span class="right">#8D6E63</span>
				</li>
				<li class="brown-500">
					<span class="left">500</span>
					<span class="right">#795548</span>
				</li>
				<li class="brown-600">
					<span class="left">600</span>
					<span class="right">#6D4C41</span>
				</li>
				<li class="brown-700">
					<span class="left">700</span>
					<span class="right">#5D4037</span>
				</li>
				<li class="brown-800">
					<span class="left">800</span>
					<span class="right">#4E342E</span>
				</li>
				<li class="brown-900">
					<span class="left">900</span>
					<span class="right">#3E2723</span>
				</li>
			</ul>
			<!-- ========== GREY ========== -->
			<ul class="color_palette-item color_palette-item-grey span3 inline-middle">
				<li class="grey-500">
					<span class="left">Grey</span>
					<span class="right"></span>
				</li>
				<li class="grey-50">
					<span class="left">50</span>
					<span class="right">#FAFAFA</span>
				</li>
				<li class="grey-100">
					<span class="left">100</span>
					<span class="right">#F5F5F5</span>
				</li>
				<li class="grey-200">
					<span class="left">200</span>
					<span class="right">#EEEEEE</span>
				</li>
				<li class="grey-300">
					<span class="left">300</span>
					<span class="right">#E0E0E0</span>
				</li>
				<li class="grey-400">
					<span class="left">400</span>
					<span class="right">#BDBDBD</span>
				</li>
				<li class="grey-500">
					<span class="left">500</span>
					<span class="right">#9E9E9E</span>
				</li>
				<li class="grey-600">
					<span class="left">600</span>
					<span class="right">#757575</span>
				</li>
				<li class="grey-700">
					<span class="left">700</span>
					<span class="right">#616161</span>
				</li>
				<li class="grey-800">
					<span class="left">800</span>
					<span class="right">#424242</span>
				</li>
				<li class="grey-900">
					<span class="left">900</span>
					<span class="right">#212121</span>
				</li>
			</ul>
			<!-- ========== BLUE GREY ========== -->
			<ul class="color_palette-item color_palette-item-blue_grey span3 inline-middle">
				<li class="blue_grey-500">
					<span class="left">Blue Grey</span>
					<span class="right"></span>
				</li>
				<li class="blue_grey-50">
					<span class="left">50</span>
					<span class="right">#ECEFF1</span>
				</li>
				<li class="blue_grey-100">
					<span class="left">100</span>
					<span class="right">#CFD8DC</span>
				</li>
				<li class="blue_grey-200">
					<span class="left">200</span>
					<span class="right">#B0BEC5</span>
				</li>
				<li class="blue_grey-300">
					<span class="left">300</span>
					<span class="right">#90A4AE</span>
				</li>
				<li class="blue_grey-400">
					<span class="left">400</span>
					<span class="right">#78909C</span>
				</li>
				<li class="blue_grey-500">
					<span class="left">500</span>
					<span class="right">#607D8B</span>
				</li>
				<li class="blue_grey-600">
					<span class="left">600</span>
					<span class="right">#546E7A</span>
				</li>
				<li class="blue_grey-700">
					<span class="left">700</span>
					<span class="right">#455A64</span>
				</li>
				<li class="blue_grey-800">
					<span class="left">800</span>
					<span class="right">#37474F</span>
				</li>
				<li class="blue_grey-900">
					<span class="left">900</span>
					<span class="right">#263238</span>
				</li>
			</ul>
		</article>
		<article class="color_palette secondary_colors">
			<header id="secondary_colors" class="span10 font_heading1"><h5>2. Secondary Colors</h5></header>
			<!-- ========== RED ========== -->
			<ul class="color_palette-item color_palette-item-red span3 inline-middle">
				<li class="red-400">
					<span class="left">Red</span>
					<span class="right"></span>
				</li>
				<li class="red-100">
					<span class="left">100</span>
					<span class="right">#FFCDD2</span>
				</li>
				<li class="red-200">
					<span class="left">200</span>
					<span class="right">#EF9A9A</span>
				</li>
				<li class="red-400">
					<span class="left">400</span>
					<span class="right">#EF5350</span>
				</li>
				<li class="red-700">
					<span class="left">700</span>
					<span class="right">#D32F2F</span>
				</li>
			</ul>
			<!-- ========== PINK ========== -->
			<ul class="color_palette-item color_palette-item-pink span3 inline-middle">
				<li class="pink-400">
					<span class="left">Pink</span>
					<span class="right"></span>
				</li>
				<li class="pink-100">
					<span class="left">100</span>
					<span class="right">#F8BBD0</span>
				</li>
				<li class="pink-200">
					<span class="left">200</span>
					<span class="right">#F48FB1</span>
				</li>
				<li class="pink-400">
					<span class="left">400</span>
					<span class="right">#EC407A</span>
				</li>
				<li class="pink-700">
					<span class="left">700</span>
					<span class="right">#C2185B</span>
				</li>
			</ul>
			<!-- ========== PURPLE ========== -->
			<ul class="color_palette-item color_palette-item-purple span3 inline-middle">
				<li class="purple-400">
					<span class="left">Purple</span>
					<span class="right"></span>
				</li>
				<li class="purple-100">
					<span class="left">100</span>
					<span class="right">#E1BEE7</span>
				</li>
				<li class="purple-200">
					<span class="left">200</span>
					<span class="right">#CE93D8</span>
				</li>
				<li class="purple-400">
					<span class="left">400</span>
					<span class="right">#AB47BC</span>
				</li>
				<li class="purple-700">
					<span class="left">700</span>
					<span class="right">#7B1FA2</span>
				</li>
			</ul>
			<!-- ========== DEEP PURPLE ========== -->
			<ul class="color_palette-item color_palette-item-deep_purple span3 inline-middle">
				<li class="deep_purple-400">
					<span class="left">Deep purple</span>
					<span class="right"></span>
				</li>
				<li class="deep_purple-100">
					<span class="left">100</span>
					<span class="right">#D1C4E9</span>
				</li>
				<li class="deep_purple-200">
					<span class="left">200</span>
					<span class="right">#B39DDB</span>
				</li>
				<li class="deep_purple-400">
					<span class="left">400</span>
					<span class="right">#7E57C2</span>
				</li>
				<li class="deep_purple-700">
					<span class="left">700</span>
					<span class="right">#512DA8</span>
				</li>
			</ul>
			<!-- ========== INDIGO ========== -->
			<ul class="color_palette-item color_palette-item-indigo span3 inline-middle">
				<li class="indigo-400">
					<span class="left">Indigo</span>
					<span class="right"></span>
				</li>
				<li class="indigo-100">
					<span class="left">100</span>
					<span class="right">#C5CAE9</span>
				</li>
				<li class="indigo-200">
					<span class="left">200</span>
					<span class="right">#9FA8DA</span>
				</li>
				<li class="indigo-400">
					<span class="left">400</span>
					<span class="right">#5C6BC0</span>
				</li>
				<li class="indigo-700">
					<span class="left">700</span>
					<span class="right">#303F9F</span>
				</li>
			</ul>
			<!-- ========== BLUE ========== -->
			<ul class="color_palette-item color_palette-item-blue span3 inline-middle">
				<li class="blue-400">
					<span class="left">Blue</span>
					<span class="right"></span>
				</li>
				<li class="blue-100">
					<span class="left">100</span>
					<span class="right">#BBDEFB</span>
				</li>
				<li class="blue-200">
					<span class="left">200</span>
					<span class="right">#90CAF9</span>
				</li>
				<li class="blue-400">
					<span class="left">400</span>
					<span class="right">#42A5F5</span>
				</li>
				<li class="blue-700">
					<span class="left">700</span>
					<span class="right">#1976D2</span>
				</li>
			</ul>
			<!-- ========== LIGHT BLUE ========== -->
			<ul class="color_palette-item color_palette-item-light_blue span3 inline-middle">
				<li class="light_blue-400">
					<span class="left">Light blue</span>
					<span class="right"></span>
				</li>
				<li class="light_blue-100">
					<span class="left">100</span>
					<span class="right">#B3E5FC</span>
				</li>
				<li class="light_blue-200">
					<span class="left">200</span>
					<span class="right">#81D4FA</span>
				</li>
				<li class="light_blue-400">
					<span class="left">400</span>
					<span class="right">#29B6F6</span>
				</li>
				<li class="light_blue-700">
					<span class="left">700</span>
					<span class="right">#0288D1</span>
				</li>
			</ul>
			<!-- ========== CYAN ========== -->
			<ul class="color_palette-item color_palette-item-cyan span3 inline-middle">
				<li class="cyan-400">
					<span class="left">Cyan</span>
					<span class="right"></span>
				</li>
				<li class="cyan-100">
					<span class="left">100</span>
					<span class="right">#B2EBF2</span>
				</li>
				<li class="cyan-200">
					<span class="left">200</span>
					<span class="right">#80DEEA</span>
				</li>
				<li class="cyan-400">
					<span class="left">400</span>
					<span class="right">#26C6DA</span>
				</li>
				<li class="cyan-700">
					<span class="left">700</span>
					<span class="right">#0097A7</span>
				</li>
			</ul>
			<!-- ========== TEAL ========== -->
			<ul class="color_palette-item color_palette-item-teal span3 inline-middle">
				<li class="teal-400">
					<span class="left">Teal</span>
					<span class="right"></span>
				</li>
				<li class="teal-100">
					<span class="left">100</span>
					<span class="right">#B2DFDB</span>
				</li>
				<li class="teal-200">
					<span class="left">200</span>
					<span class="right">#80CBC4</span>
				</li>
				<li class="teal-400">
					<span class="left">400</span>
					<span class="right">#26A69A</span>
				</li>
				<li class="teal-700">
					<span class="left">700</span>
					<span class="right">#00796B</span>
				</li>
			</ul>
			<!-- ========== GREEN ========== -->
			<ul class="color_palette-item color_palette-item-green span3 inline-middle">
				<li class="green-400">
					<span class="left">Green</span>
					<span class="right"></span>
				</li>
				<li class="green-100">
					<span class="left">100</span>
					<span class="right">#C8E6C9</span>
				</li>
				<li class="green-200">
					<span class="left">200</span>
					<span class="right">#A5D6A7</span>
				</li>
				<li class="green-400">
					<span class="left">400</span>
					<span class="right">#66BB6A</span>
				</li>
				<li class="green-700">
					<span class="left">700</span>
					<span class="right">#388E3C</span>
				</li>
			</ul>
			<!-- ========== LIGHT GREEN ========== -->
			<ul class="color_palette-item color_palette-item-light_green span3 inline-middle">
				<li class="light_green-400">
					<span class="left">Light Green</span>
					<span class="right"></span>
				</li>
				<li class="light_green-100">
					<span class="left">100</span>
					<span class="right">#DCEDC8</span>
				</li>
				<li class="light_green-200">
					<span class="left">200</span>
					<span class="right">#C5E1A5</span>
				</li>
				<li class="light_green-400">
					<span class="left">400</span>
					<span class="right">#9CCC65</span>
				</li>
				<li class="light_green-700">
					<span class="left">700</span>
					<span class="right">#689F38</span>
				</li>
			</ul>
			<!-- ========== LIME ========== -->
			<ul class="color_palette-item color_palette-item-lime span3 inline-middle">
				<li class="lime-400">
					<span class="left">Lime</span>
					<span class="right"></span>
				</li>
				<li class="lime-100">
					<span class="left">100</span>
					<span class="right">#F0F4C3</span>
				</li>
				<li class="lime-200">
					<span class="left">200</span>
					<span class="right">#E6EE9C</span>
				</li>
				<li class="lime-400">
					<span class="left">400</span>
					<span class="right">#D4E157</span>
				</li>
				<li class="lime-700">
					<span class="left">700</span>
					<span class="right">#AFB42B</span>
				</li>
			</ul>
			<!-- ========== YELLOW ========== -->
			<ul class="color_palette-item color_palette-item-yellow span3 inline-middle">
				<li class="yellow-400">
					<span class="left">Yellow</span>
					<span class="right"></span>
				</li>
				<li class="yellow-100">
					<span class="left">100</span>
					<span class="right">#FFF9C4</span>
				</li>
				<li class="yellow-200">
					<span class="left">200</span>
					<span class="right">#FFF59D</span>
				</li>
				<li class="yellow-400">
					<span class="left">400</span>
					<span class="right">#FFEE58</span>
				</li>
				<li class="yellow-700">
					<span class="left">700</span>
					<span class="right">#FBC02D</span>
				</li>
			</ul>
			<!-- ========== AMBER ========== -->
			<ul class="color_palette-item color_palette-item-amber span3 inline-middle">
				<li class="amber-400">
					<span class="left">Amber</span>
					<span class="right"></span>
				</li>
				<li class="amber-100">
					<span class="left">100</span>
					<span class="right">#FFECB3</span>
				</li>
				<li class="amber-200">
					<span class="left">200</span>
					<span class="right">#FFE082</span>
				</li>
				<li class="amber-400">
					<span class="left">400</span>
					<span class="right">#FFCA28</span>
				</li>
				<li class="amber-700">
					<span class="left">700</span>
					<span class="right">#FFA000</span>
				</li>
			</ul>
			<!-- ========== ORANGE ========== -->
			<ul class="color_palette-item color_palette-item-orange span3 inline-middle">
				<li class="orange-400">
					<span class="left">Orange</span>
					<span class="right"></span>
				</li>
				<li class="orange-100">
					<span class="left">100</span>
					<span class="right">#FFE0B2</span>
				</li>
				<li class="orange-200">
					<span class="left">200</span>
					<span class="right">#FFCC80</span>
				</li>
				<li class="orange-400">
					<span class="left">400</span>
					<span class="right">#FFA726</span>
				</li>
				<li class="orange-700">
					<span class="left">700</span>
					<span class="right">#F57C00</span>
				</li>
			</ul>
			<!-- ========== DEEP ORANGE ========== -->
			<ul class="color_palette-item color_palette-item-deep_orange span3 inline-middle">
				<li class="deep_orange-400">
					<span class="left">Deep Orange</span>
					<span class="right"></span>
				</li>
				<li class="deep_orange-100">
					<span class="left">100</span>
					<span class="right">#FFE0B2</span>
				</li>
				<li class="deep_orange-200">
					<span class="left">200</span>
					<span class="right">#FFCC80</span>
				</li>
				<li class="deep_orange-400">
					<span class="left">400</span>
					<span class="right">#FFA726</span>
				</li>
				<li class="deep_orange-700">
					<span class="left">700</span>
					<span class="right">#F57C00</span>
				</li>
			</ul>
		</article>
	</main>
</body>
</html>