<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Factory Tools Specs</title>
	<link rel="stylesheet" href="../../assets/css/jquery-ui.css" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="stylesheet" href="../../assets/css/typo.css" />
	<script src="../../assets/js/jquery-3.1.0.min.js"></script>
	<script src="../../assets/js/jquery-ui.min.js"></script>
	<script src="../../assets/js/temp-trigger.js"></script>
	<script src="../../assets/js/navigation.js"></script>
	<script src="../../assets/js/style.js"></script>
</head>
<body>
	<main>
		<header class="span10 font_regular">Typography</header>
		<ul class="span10 content_table">
			<li><a href="#category" class="font_bold">Language category</a></li>
			<li><a href="#font" class="font_bold">Font</a></li>
			<li><a href="#typeface" class="font_bold">Typeface</a></li>
			<li><a href="#style" class="font_bold">Style</a></li>
		</ul>
		<article>
			<header id="category" class="span10 font_light"><h5>Language category</h5></header>
		  <p>Language can be divided into two categories:</p>
		  <ul class="list">
		  	<li>English</li>
		  	<li>CJK (Chinese, Japanese, and Korean)</li>
		  </ul>
		</article>
		<article>
			<header id="font" class="span10 font_light"><h5>Font</h5></header>
			<ul class="list">
				<li><span class="font_bold">Default font:</span> Averta</li>
				<li><span class="font_bold">Default font (CJK):</span> Noto Sans</li>
				<li><span class="font_bold">Default size:</span> 14px</li>
				<li>
					<span class="font_bold">Default color:</span>
					<code>#212121</code> (refer to grey 900 in <a href="color.html">Colors</a>)
				</li>
			</ul>
		</article>
		<article class="typeface">
			<header id="typeface" class="span10 font_light"><h5>Typeface</h5></header>
			<section>
				<p class="span5 left">
					<b class="font_bold">Averta:</b><br/><br/>
					Averta is the default font for Factory tools in English.
				</p>
				<div class="span5 left">
					<h2 class="font_bold">Averta for Factory Tools Bold</h2>
					<h2 class="font_light">Averta for Factory Tools Light</h2>
					<h2 class="font_regular">Averta for Factory Tools Regular</h2>
					<h2 class="font_thin">Averta for Factory Tools Thin</h2>
				</div>
				<div class="clear"></div>
			</section>
			<section>
				<p class="span5 left">
					<b class="noto_bold">Noto Sans:</b><br/><br/>
					Noto Sans is the default font for Factory tools in CJK (Chinese, Japanese, and Korean). 
				</p>
				<div class="span5 left">
					<h2 class="noto_bold">无人爱苦，亦无人寻之欲之，乃因其苦</h2>
					<h2 class="noto_light">无人爱苦，亦无人寻之欲之，乃因其苦</h2>
					<h2 class="noto_regular">无人爱苦，亦无人寻之欲之，乃因其苦</h2>
					<h2 class="noto_thin">无人爱苦，亦无人寻之欲之，乃因其苦</h2>
					<br/>
					<h2 class="noto_bold">私も晩別にその忠告めって事のためからできるですだ</h2>
					<h2 class="noto_light">私も晩別にその忠告めって事のためからできるですだ</h2>
					<h2 class="noto_regular">私も晩別にその忠告めって事のためからできるですだ</h2>
					<h2 class="noto_thin">私も晩別にその忠告めって事のためからできるですだ</h2>
					<br/>
					<h2 class="noto_bold">텍스트 뿐만 아니라, 이미지, 동영상까지.</h2>
					<h2 class="noto_light">텍스트 뿐만 아니라, 이미지, 동영상까지.</h2>
					<h2 class="noto_regular">텍스트 뿐만 아니라, 이미지, 동영상까지.</h2>
					<h2 class="noto_thin">텍스트 뿐만 아니라, 이미지, 동영상까지.</h2>
				</div>
				<div class="clear"></div>
			</section>
		</article>
		<article>
			<header id="style" class="span10 font_light"><h5>Style</h5></header>
			<section>
				<div class="span5 left">
					<p class="span10">
						Too many font sizes in one page will mess up the layout, and also destroy the viewers visual experience. Therefore, it is a nice thing to set some standards for the font size, and assign them with a meaningful name so that we know when to use a certain font size.
					</p>
					<br/>
					<p class="span10">
						The basic set of font size are based on a scale of 12, 14, 20, and 26.
						And the set of line height are based on a scale of 22, 24, 30, and 36.
					</p>
				</div>
				<div class="span5 left">
					<h2 class="font_title">title bold 26px(font size) 36px(line height)</h2>
					<h2 class="font_subtitle">sub title regular 20px(font size) 30(line height)</h2>
					<h2 class="font_body">body regular 14px(font size) 24px(line height)</h2>
					<h2 class="font_caption">caption light italic 12px(font size) 22(line height)</h2>
					<h2 class="font_button">button regular all cap 14px(font size) 24(line height)</h2>
				</div>
				<div class="clear"></div>
			</section>
		</article>
	</main>
</body>
</html>