/* -------------------- Functions -------------------- */
/* -------------------- END Functions -------------------- */
/* -------------------- Font Family -------------------- */
/* -------------------- END Font Family -------------------- */
/* -------------------- Colors -------------------- */
/* ---------- Red ---------- */
/* ---------- END Red ---------- */
/* ---------- Pink ---------- */
/* ---------- END Pink ---------- */
/* ---------- Purple ---------- */
/* ---------- END Purple ---------- */
/* ---------- Deep Purple ---------- */
/* ---------- END Deep Purple ---------- */
/* ---------- Indigo ---------- */
/* ---------- END Indigo ---------- */
/* ---------- Blue ---------- */
/* ---------- END Blue ---------- */
/* ---------- Light Blue ---------- */
/* ---------- END Light Blue ---------- */
/* ---------- Cyan ---------- */
/* ---------- END Cyan ---------- */
/* ---------- Teal ---------- */
/* ---------- END Teal ---------- */
/* ---------- Green ---------- */
/* ---------- END Green ---------- */
/* ---------- Light Green ---------- */
/* ---------- END Light Green ---------- */
/* ---------- Lime ---------- */
/* ---------- END Lime ---------- */
/* ---------- Yellow ---------- */
/* ---------- END Yellow ---------- */
/* ---------- Amber ---------- */
/* ---------- END Amber ---------- */
/* ---------- Orange ---------- */
/* ---------- END Orange ---------- */
/* ---------- Deep Orange ---------- */
/* ---------- END Deep Orange ---------- */
/* ---------- Brown ---------- */
/* ---------- END Brown ---------- */
/* ---------- Grey ---------- */
/* ---------- END Grey ---------- */
/* ---------- Blue Grey ---------- */
/* ---------- END Blue Grey ---------- */
/* -------------------- END Colors -------------------- */
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

select {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1;
  font-size: 12px;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

textarea.noresize {
  resize: none;
}

body {
  font-size: 12px;
  font-weight: 500;
  font-family: "helvetica neue", arial, helvetica, sans-serif;
  color: #212121;
}

.container {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.span1, .span2, .span3, .span4,
.span5, .span6, .span7, .span8,
.span9, .span10, .span11, .span12 {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.span1 {
  width: 8.333333333333332%;
}

.span2 {
  width: 16.666666666666664%;
}

.span3 {
  width: 25%;
}

.span4 {
  width: 33.33333333333333%;
}

.span5 {
  width: 41.66666666666667%;
}

.span6 {
  width: 50%;
}

.span7 {
  width: 58.333333333333336%;
}

.span8 {
  width: 66.66666666666666%;
}

.span9 {
  width: 75%;
}

.span10 {
  width: 83.33333333333334%;
}

.span11 {
  width: 91.66666666666666%;
}

.span12 {
  width: 100%;
}

.offset1 {
  margin-left: 8.333333333333332%;
}

.offset2 {
  margin-left: 16.666666666666664%;
}

.offset3 {
  margin-left: 25%;
}

.offset4 {
  margin-left: 33.33333333333333%;
}

.offset5 {
  margin-left: 41.66666666666667%;
}

.offset6 {
  margin-left: 50%;
}

.offset7 {
  margin-left: 58.333333333333336%;
}

.offset8 {
  margin-left: 66.66666666666666%;
}

.offset9 {
  margin-left: 75%;
}

.offset10 {
  margin-left: 83.33333333333334%;
}

.offset11 {
  margin-left: 91.66666666666666%;
}

.offset12 {
  margin-left: 100%;
}

.transition {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.transition-fast {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

.hidden {
  display: none !important;
}

.visible {
  overflow: visible !important;
}

.auto {
  overflow: auto !important;
}

.pointer {
  cursor: pointer;
}

.vm, .banner {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

.nowrap {
  white-space: nowrap;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-fixed {
  table-layout: fixed;
}

.text-left {
  text-align: left!important;
}

.text-right {
  text-align: right!important;
}

.text-center {
  text-align: center!important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline-top {
  display: inline-block;
  vertical-align: top;
}

.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.inline-baseline {
  display: inline-block;
  vertical-align: baseline;
}

/* ==================== Icon Font ==================== */
@font-face {
  font-family: 'icomoon';
  src: url(iconfonts/icomoon.eot);
  src: url(iconfonts/icomoon.eot?#iefix) format("embedded-opentype"), url(iconfonts/icomoon.woff) format("woff"), url(iconfonts/icomoon.ttf) format("truetype"), url(iconfonts/icomoon.svg#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  /* ---------- Better Font Rendering ---------- */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ==================== END Icon Font ==================== */
/* ==================== FONT ==================== */
@font-face {
  font-family: averta_bold;
  src: url("fonts/averta_bold.eot?#iefix");
  src: url("fonts/averta_bold.eot?#iefix") format("eot"), url("fonts/averta_bold.woff2") format("woff2"), url("fonts/averta_bold.woff") format("woff"), url("fonts/averta_bold.ttf") format("truetype"), url("fonts/averta_bold.svg#averta_bold") format("svg");
}
@font-face {
  font-family: averta_light;
  src: url("fonts/averta_light.eot?#iefix");
  src: url("fonts/averta_light.eot?#iefix") format("eot"), url("fonts/averta_light.woff2") format("woff2"), url("fonts/averta_light.woff") format("woff"), url("fonts/averta_light.ttf") format("truetype"), url("fonts/averta_light.svg#averta_bold") format("svg");
}
@font-face {
  font-family: averta_regular;
  src: url("fonts/averta_regular.eot?#iefix");
  src: url("fonts/averta_regular.eot?#iefix") format("eot"), url("fonts/averta_regular.woff2") format("woff2"), url("fonts/averta_regular.woff") format("woff"), url("fonts/averta_regular.ttf") format("truetype"), url("fonts/averta_regular.svg#averta_bold") format("svg");
}
@font-face {
  font-family: averta_thin;
  src: url("fonts/averta_thin.eot?#iefix");
  src: url("fonts/averta_thin.eot?#iefix") format("eot"), url("fonts/averta_thin.woff2") format("woff2"), url("fonts/averta_thin.woff") format("woff"), url("fonts/averta_thin.ttf") format("truetype"), url("fonts/averta_thin.svg#averta_bold") format("svg");
}
@font-face {
  font-family: noto_cjk_bold;
  src: url("fonts/noto_cjk_bold.otf");
}
@font-face {
  font-family: noto_cjk_light;
  src: url("fonts/noto_cjk_light.otf");
}
@font-face {
  font-family: noto_cjk_regular;
  src: url("fonts/noto_cjk_regular.otf");
}
@font-face {
  font-family: noto_cjk_thin;
  src: url("fonts/noto_cjk_thin.otf");
}
/* ==================== END FONT ==================== */
/* ==================== STYLE ==================== */
.font_title {
  font-size: 46px;
  line-height: 56px;
}

.font_subtitle {
  font-size: 36px;
  line-height: 46px;
}

.font_heading1 {
  font-size: 30px;
  line-height: 40px;
}

.font_heading2 {
  font-size: 24px;
  line-height: 34px;
}

.font_heading3 {
  font-size: 20px;
  line-height: 30px;
}

.font_heading4 {
  font-size: 15px;
  line-height: 25px;
}

.font_body {
  font-size: 14px;
  line-height: 24px;
}

.font_caption {
  font-size: 12px;
  line-height: 22px;
}

.font_button {
  font-size: 14px;
  line-height: 24px;
}

.font_title {
  font-family: averta_regular;
  text-transform: capitalize;
}

.font_subtitle {
  font-family: averta_regular;
  text-transform: capitalize;
}

.font_heading1 {
  font-family: averta_regular;
  text-transform: capitalize;
}

.font_heading2 {
  font-family: averta_regular;
  text-transform: capitalize;
}

.font_heading3 {
  font-family: averta_regular;
  text-transform: capitalize;
}

.font_heading4 {
  font-family: averta_regular;
  text-transform: capitalize;
}

.font_body {
  font-family: averta_regular;
  text-transform: capitalize;
}

.font_caption {
  font-family: averta_light;
  font-style: italic;
  text-transform: capitalize;
}

.font_button {
  font-family: averta_regular;
  text-transform: uppercase;
}

/* ==================== END STYLE ==================== */
.font_bold, .nav_main .nav_main_item {
  font-family: averta_bold;
}

.font_light {
  font-family: averta_light;
}

.font_regular {
  font-family: averta_regular;
}

.font_thin {
  font-family: averta_thin;
}

.noto_bold {
  font-family: noto_cjk_bold;
}

.noto_light {
  font-family: noto_cjk_light;
}

.noto_regular {
  font-family: noto_cjk_regular;
}

.noto_thin {
  font-family: noto_cjk_thin;
}

body {
  font-family: Averta_regular;
  font-size: 14px;
  line-height: 20px;
}

.container {
  overflow: auto;
}

/* ==================== Banner ==================== */
.banner {
  width: 100%;
  height: 60px;
  bottom: auto;
}
.banner .nav_trigger {
  width: 60px;
  height: 60px;
  float: left;
  cursor: pointer;
}
.banner .logo {
  width: 360px;
  height: 60px;
  float: left;
}

/* ==================== END Banner ==================== */
/* ==================== Navigation ==================== */
.nav_main .nav_main_item {
  height: 30px;
  line-height: 30px;
}
.nav_main .nav_sub {
  display: none;
  padding-left: 20px;
}
.nav_main .nav_sub .nav_sub_item {
  height: 20px;
  line-height: 20px;
}
.nav_main a {
  display: block;
}

/* ==================== END Navigation ==================== */
.maincontent {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px 0 0;
}

main {
  padding: 20px;
}

header {
  font-size: 30px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
}

.content_table {
  margin: 10px;
}
.content_table li a {
  width: 300px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  line-height: 30px;
  padding: 0 20px;
}

article {
  margin: 20px 0;
}
article > * {
  margin: 10px;
}
article p {
  font-size: 14px;
}
article ul.list {
  list-style: inside disc;
}
article ul.list li {
  padding: 8px 16px;
}
article ul.list ul li {
  padding: 8px 24px;
}
article ul.list-circle {
  list-style: inside circle;
}
article ul.list-order {
  list-style: inside decimal;
}

/* ==================== Temporary Layer ==================== */
.temp {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.temp .temp_item {
  position: absolute;
}
.temp .temp_item.nav {
  width: 208px;
  height: 100%;
  left: -241px;
  padding: 16px;
  overflow-y: auto;
}
.temp .temp_mask {
  width: 100%;
  height: 100%;
}

/* ==================== END Temporary Layer ==================== */
/* ==================== Banner ==================== */
.banner {
  background: #333333;
}
.banner .nav_trigger {
  background: #D21F26 url(../images/logo_icon.png) no-repeat center center;
}
.banner .logo {
  background: url(../images/logo_text.png) no-repeat 20px center;
}

/* ==================== END Banner ==================== */
/* ==================== Navigation ==================== */
.nav_main a {
  color: #212121;
}
.nav_main a:hover {
  color: #333333;
}

/* ==================== END Navigation ==================== */
header {
  color: #333333;
}

.content_table {
  border-left: solid 4px #D21F26;
}
.content_table li a {
  color: #D21F26;
}

/* ==================== Temporary Layer ==================== */
.temp .nav {
  background: #FFFFFF;
}
.temp .temp_mask {
  background: rgba(0, 0, 0, 0.4);
}

/* ==================== END Temporary Layer ==================== */
