.btn {
  @extend .inline-middle;
  @include line-height(30px, 30px);
  position: relative;
  min-width: 30px;
  outline: 0;
  cursor: pointer;
  &.flat,
  &.square {
    @include border-radius(2px);
    @include font(12px, 400);
    height: 30px;
    padding: 0 16px;
    text-transform: uppercase;
  }
  &.circle {
    @include border-radius(100%);
    @include size(35px, 35px);
    line-height: 35px;
  }
  &[class^="icon-"]:before,
  &[class*="icon-"]:before {
    line-height: 29px;
    margin: 0;
  }
  input[type="button"] {
    @extend .vm;
    @include size(100%, 100%);
    @include tblr-cust((left, 0), (top, 0));
    @include opacity(0);
    border: none;
    cursor: pointer;
  }
}