<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Factory Tools Specs</title>
	<link rel="stylesheet" href="../../assets/css/jquery-ui.css" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="stylesheet" href="../../assets/css/grid.css" />
	<script src="../../assets/js/jquery-3.1.0.min.js"></script>
	<script src="../../assets/js/jquery-ui.min.js"></script>
	<script src="../../assets/js/temp-trigger.js"></script>
	<script src="../../assets/js/navigation.js"></script>
	<script src="../../assets/js/style.js"></script>
</head>
<body>
	<main>
		<header class="span10 font_regular">Grid</header>
		<article>
		  <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
		</article>
	</main>
</body>
</html>