<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Factory Tools Specs</title>
	<link rel="stylesheet" href="../../assets/css/jquery-ui.css" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<link rel="stylesheet" href="../../assets/css/struc.css" />
	<script src="../../assets/js/jquery-3.1.0.min.js"></script>
	<script src="../../assets/js/jquery-ui.min.js"></script>
	<script src="../../assets/js/temp-trigger.js"></script>
	<script src="../../assets/js/navigation.js"></script>
	<script src="../../assets/js/style.js"></script>
</head>
<body>
	<main>
		<header class="span10 font_regular">Structure</header>
		<ul class="span10 content_table">
			<li><a href="#container" class="font_bold">Container</a></li>
			<li><a href="#top_bar" class="font_bold">Top bar</a></li>
			<li><a href="#body_content" class="font_bold">Body content</a></li>
		</ul>
		<article>
			<header id="container" class="span10 font_light"><h5>Container</h5></header>
		  <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
		</article>
		<article>
			<header id="top_bar" class="span10 font_light"><h5>Top bar</h5></header>
			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
		</article>
		<article>
			<header id="body_content" class="span10 font_light"><h5>Body content</h5></header>
			<p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
		</article>
	</main>
</body>
</html>