<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Factory Tools Specs</title>
	<link rel="stylesheet" href="../../assets/css/jquery-ui.css" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	<script src="../../assets/js/jquery-3.1.0.min.js"></script>
	<script src="../../assets/js/jquery-ui.min.js"></script>
	<script src="../../assets/js/temp-trigger.js"></script>
	<script src="../../assets/js/navigation.js"></script>
	<script src="../../assets/js/style.js"></script>
</head>
<body>
	<main>
		<header class="span10 font_subtitle">Structure</header>
		<ul class="span10 content_table">
			<li><a href="#container" class="font_bold">1. Container</a></li>
			<li><a href="#top_bar" class="font_bold">2. Top bar</a></li>
			<li><a href="#body_content" class="font_bold">3. Body content</a></li>
		</ul>
		<article>
			<header id="container" class="span10 font_heading1"><h5>1. Container</h5></header>
			<div class="span4 left">
			  <p>In general, all body content must be placed inside <code>.container</code>.</p>
		  </div>
		  <div class="span5 left"><img src="../../assets/images/overall.png" width="500px"></div>
		  <div class="clear"></div>
		  <div class="span4 left">
		  	<p>
			  	Inside <code>.container</code>, there contains a permanent top bar, and body content area, where all body content should be placed inside.
			  </p>
		  </div>
		  <div class="span5 left"><img src="../../assets/images/container.png" width="500px"></div>
		  <div class="clear"></div>
		</article>
		<article>
			<header id="top_bar" class="span10 font_heading1"><h5>2. Top bar</h5></header>
			<section>
				<div class="span4 left">
					<p>
						The top bar is used for branding, navigation, search and other actions. The background color of the top bar should reflect the current tool. It should not scroll with the body.
					</p>
				</div>
				<div class="span5 left"><img src="../../assets/images/topbar_sketch.png" width="700px"></div>
				<div class="clear"></div>
			</section>
			<section>
				<header class="span10 font_heading2" style="margin-top: 40px;"><h5>2.1 Top bar</h5></header>
				<div class="span4 left">
					<p>
						In top bar, all icons, and logo should be the same color/background color on idle state. A different color can be applied when they are on active state such as mouse over, clicked, etc. (App’s branding color is recommended).
					</p>
				</div>
				<div class="span5 left">
					<img src="../../assets/images/topbar_1.png" width="750px"><br/><br/>
					<img src="../../assets/images/topbar_2.png" width="750px"><br/><br/>
					<img src="../../assets/images/topbar_3.png" width="750px">
				</div>
				<div class="clear"></div>
			</section>
			<section>
				<header class="span10 font_heading2" style="margin-top: 40px;"><h5>2.2 Factory tools box</h5></header>
				<div class="span12">
					<p>
						In top bar, all icons, and logo should be the same color/background color on idle state. A different color can be applied when they are on active state such as mouse over, clicked, etc. (App’s branding color is recommended).
					</p>
				</div>
			</section>
			<section>
				<header class="span10 font_heading2" style="margin-top: 40px;"><h5>2.3 Logo</h5></header>
				<div class="span12">
					<p>The logo in the top bar is the current tool’s logo.</p>
				</div>
			</section>
			<section>
				<header class="span10 font_heading2" style="margin-top: 40px;"><h5>2.4 Global tools</h5></header>
				<div class="span12">
					<p>Depending on app’s requirement, global tools may contain search tool, current user, local clock, and app notifications.</p>
				</div>
			</section>
			<section>
				<header class="span10 font_heading2" style="margin-top: 40px;"><h5>2.5 Metrics</h5></header>
				<div class="span12">
					<img src="../../assets/images/top_bar_metrics.png" width="500px">
				</div>
			</section>
		</article>
		<article>
			<header id="body_content" class="span10 font_heading1"><h5>3. Body content</h5></header>
			<section>
				<header class="span10 font_heading2" style="margin-top: 40px;"><h5>3.1 Section</h5></header>
				<section>
					<header class="span10 font_heading3"><h5>3.1.1 Title section</h5></header>
					<div class="span4 left">
						<p>
							Title section is the first element inside the the body content area. It used for describe the current page, and provide some general control to the page. The background color of the title section should be the same as top bar. And it should be connected to the top bar as well. Unless you have a good reason, otherwise every page should have a title section.
						</p>
						<br><br>
						<p>
							In title section, all icons, and texts should be white color. A different color can be applied when they are on active state such as mouse over, clicked, etc.
						</p>
					</div>
					<div class="span5 left"><img src="../../assets/images/section_1.png" width="600px"></div>
					<div class="clear"></div>
				</section>
				<section>
					<header class="span10 font_heading3"><h5>3.1.2 Content section</h5></header>
					<div class="span4 left">
						<p>
							The content section holds the main content of a page. The content section contains many sub sections, such as articles, tables, etc. In coding, each section should be placed into a div tag or section tag. If it is in a div tag, then we should also assign a .section class to that div to indicate it is a section. We strongly recommend section tag, since most browsers fully support that element.
						</p>
					</div>
					<div class="span5 left" style="margin-left: 100px;">
						<img src="../../assets/images/content_section_1.png" width="400px">
					</div>
					<div class="clear"></div>
					<div class="span4 left" style="margin-top: 20px;">
						<p>
							Depends on the content, a section may contain a section head, a section body, and a section footer.
						</p>
					</div>
					<div class="span5 left" style="margin-left: 100px;">
						<img src="../../assets/images/content_section_2.png" width="400px">
					</div>
					<div class="clear"></div>
				</section>
				<section>
					<header class="span10 font_heading3"><h5>3.1.3 Nested section</h5></header>
					<div class="span12">
						<p>
							A section can be nested into another section, which means you can put as many as you want in one section. However, nesting sections is not recommended because it adds complications to the page, and most oftenly it requires custom styling to make it work. We will discuss custom styling in the another document.
						</p>
					</div>
				</section>
			</section>
		</article>
	</main>
</body>
</html>